* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", "Roboto", sans-serif;

}

.page {
  min-height: 100vh;
  width: 100%;
  padding: 28px 7%;
  transition: 0.3s ease;
}

.page > .navbar,
.page > .theme-switcher,
.page-content {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}